<% include partials/header %>

<h1> <%= title  %> </h1>

     <% if (typeof deletePostSuccessMsg != 'undefined' && deletePostSuccessMsg) { %>

             <div class="alert alert-success"><%- deletePostSuccessMsg %></div>

     <% } else if(typeof deletePostErrorMsg != 'undefined' && deletePostErrorMsg) { %>

             <div class="alert alert-danger"><%- deletePostErrorMsg %></div>

     <% } %>



     <% errors.forEach(function(error){

        <% error.msg %>

     <% }); %>

 
<div class="body">
<div class="card-body">

  <ul>
     <% clients.forEach(function(client){ %>

             <li>  <%= client.fullname %> </li>
             <li>  <%= client.email %>     </li>
             <li>  <%= client.phonenumber %> </li>
    
     <% }); %>
  </ul>

</div>
</div>


<% include partials/footer %>